@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #f5f5f5;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: blur(30px) #fff;
    border: 1px solid #ddd;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: left;
    color: #333;
    font-size: 26px;
}
h3 {
    text-align: left;
    color: #d62525;
    font-size: 24px;
}
h4 {
    text-align: center;
    color: #d62525;
    font-size: 14px;
}

.form {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #38af47;
    border-radius: 18px;
}

.input-row {
    resize: none;
    width: 27%;
    display: inline-block;
    margin-right: 25px;
}

.buttons {
    text-align: center;
}

button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #38af47;
    color: #fff;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #498150;
    font-weight: bold;
}

.output {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.output-group {
    flex: 1;
    padding: 10px;
    font-size: 14px;
}

textarea {
    resize: none;
    width: 85%;
    height: 200px;
    border: 1px solid #38af47;
    border-radius: 18px;
    padding: 10px;
}
.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #38af47;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

/*daqui pra baixo são as configurações dos menus e submenus*/
.site-container {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: blur(30px) #fff;
    border: 1px solid #ddd;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header {
    background-color: #38af47;
    padding: 10px 0;
    border-radius: 18px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    position: relative;
}

.menu a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}

.menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #38af47;
    z-index: 1000;
    border-radius: 18px;
}

.menu ul li:hover > ul {
    display: inherit;
}
.menu .has-submenu:hover > ul {
    text-align: left;
    display: inherit;  /* Remova qualquer regra de estilo relacionada ao :hover aqui */
}

.menu .has-submenu {
    cursor: pointer;
}
.menu .submenu.active {
    display: inherit;
    border-radius: 18px;
}

.menu ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}

.menu ul ul ul li {
    position: relative;
    top: -60px;
    left: 200px;
}

.menu ul ul li:hover a {
    color: #0b4400;
    margin: 0 auto;
    
}
/*configura a imagem do fundo*/
body {
    background-image: url('/fundo2.png');
    background-size: cover; /* Isso faz com que a imagem cubra toda a área do elemento */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: center;
}

/*daqui pra baixo configura a logo*/
.logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

.form-header {
    position: relative;
}
